.syntax--source.syntax--css {
	.syntax--attribute-name {
		&.syntax--class {
			color: @green;
			& > .syntax--definition.syntax--entity {
				color: @green;
			}
		}
		&.syntax--id {
			color: @orange;
			& > .syntax--definition.syntax--entity {
				color: @orange;
			}
		}
		&.syntax--parent-selector {
			& > .syntax--definition {
				color: @yellow;
			}
		}
	}
	// highlight properties/values if they are supported
	.syntax--property-name {
		color: @blue;
	}
	.syntax--property-value {
		color: @blue;
		&.syntax--constant,
		&.syntax--meta {
			color: @light-yellow;
		}
	}
	.syntax--punctuation {
		&.syntax--separator,
		&.syntax--terminator {
			color: @blue;
		}
		&.syntax--definition {
			color: @yellow;
			&.syntax--comment {
				color: @light-gray;
			}
			&.syntax--entity {
				color: @blue;
			}
			&.syntax--string {
				color: @green;
			}
		}
	}
	.syntax--constant {
		&.syntax--color,
		&.syntax--rgb-value {
			color: @light-yellow;
		}
	}
	.syntax--function {
		color: @yellow;
		&.syntax--section {
			color: @blue;
		}
	}
	.syntax--meta {
		&.syntax--brace.syntax--round {
			color: @blue;
		}
	}
}
