@import "syntax-variables";
.syntax--comment {
	color: @light-gray;
}
.syntax--keyword {
	color: @yellow;
	&.syntax--decoration,
	&.syntax--control,
	&.syntax--operator {
		color: @yellow;
	}
	&.syntax--other.syntax--special-method {
		color: @blue;
	}
	&.syntax--other.syntax--unit {
		color: @light-orange;
	}
}
.syntax--storage {
	color: @yellow;
	&.syntax--doc {
		color: lighten(@light-gray, 10%);
	}
}
.syntax--constant {
	color: @blue;
	&.syntax--boolean,
	&.syntax--null,
	&.syntax--numeric {
		color: @light-yellow;
	}
	&.syntax--other.syntax--color {
		color: @cyan;
	}
	&.syntax--other.syntax--symbol {
		color: @green;
	}
}
.syntax--variable {
	color: @blue;
	&.syntax--language.syntax--js,
	&.syntax--language.syntax--this {
		color: @yellow;
	}
	&.syntax--interpolation {
		color: darken(@blue, 10%);
	}
	&.syntax--parameter.syntax--function {
		color: @syntax-text-color;
	}
	&.syntax--prototype {
		color: @yellow;
	}
}
.syntax--invalid.syntax--illegal {
	background-color: @red;
	color: @syntax-background-color;
}
.syntax--regexp {
	color: @green;
	&.syntax--constant,
	&.syntax--punctuation,
	&.syntax--character-class {
		&.syntax--range,
		&.syntax--character {
			color: @red;
		}
	}
	& > .syntax--punctuation.syntax--definition.syntax--begin,
	& > .syntax--punctuation.syntax--definition.syntax--end,
	&.syntax--look-ahead,
	&.syntax--negative-look-ahead,
	&.syntax--punctuation {
		color: @yellow;
	}
}
.syntax--string {
	color: @green;
	&.syntax--other.syntax--link {
		color: @red;
	}
}
.syntax--punctuation {
	&.syntax--definition {
		&.syntax--quasi {
			&.syntax--begin,
			&.syntax--end {
				color: @yellow;
				& > .syntax--quoted {
					color: @yellow;
				}
			}
		}
		&.syntax--comment {
			color: @light-gray;
		}
		&.syntax--string {
			color: @green;
		}
		&.syntax--array,
		&.syntax--parameters,
		&.syntax--variable {
			color: @syntax-text-color;
		}
		&.syntax--heading,
		&.syntax--identity {
			color: @blue;
		}
		&.syntax--bold {
			color: @light-orange;
			font-weight: bold;
		}
		&.syntax--tag {
			color: @yellow;
		}
		&.syntax--italic {
			color: @yellow;
			font-style: italic;
		}
	}
	&.syntax--accessor,
	&.syntax--decorator,
	&.syntax--separator {
		color: @yellow;
	}
	&.syntax--comma,
	&.syntax--section.syntax--embedded {
		color: @blue;
	}
}
.syntax--support {
	&.syntax--function {
		color: @light-yellow;
		&.syntax--any-method {
			color: @blue;
		}
	}
	&.syntax--class {
		color: @yellow;
	}
}
.syntax--entity {
	&.syntax--name.syntax--function {
		color: @orange;
	}
	&.syntax--name.syntax--type {
		color: @light-orange;
	}
	&.syntax--other.syntax--inherited-class {
		color: @green;
	}
	&.syntax--name.syntax--class,
	&.syntax--name.syntax--type.syntax--class {
		color: @orange;
	}
	&.syntax--name.syntax--section {
		color: @blue;
	}
	&.syntax--name.syntax--tag {
		&.syntax--script,
		&.syntax--style {
			color: @orange;
		}
		color: @yellow;
	}
	&.syntax--other.syntax--attribute-name {
		color: @orange;
		&.syntax--id {
			color: @red;
		}
	}
}
.syntax--meta {
	&.syntax--delimiter.syntax--period,
	&.syntax--doctype,
	&.syntax--require,
	&.syntax--selector,
	&.syntax--tag.syntax--html {
		color: @yellow;
	}
	&.syntax--separator {
		background-color: @gray;
		color: @syntax-text-color;
	}
}
.syntax--none {
	color: @syntax-text-color;
}
.syntax--markup {
	&.syntax--bold {
		color: @orange;
		font-weight: bold;
	}
	&.syntax--changed {
		color: @yellow;
	}
	&.syntax--deleted {
		color: @red;
	}
	&.syntax--italic {
		color: @yellow;
		font-style: italic;
	}
	&.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
		color: @blue;
	}
	&.syntax--inserted {
		color: @green;
	}
	&.syntax--list {
		color: @red;
	}
	&.syntax--quote {
		color: @orange;
	}
	&.syntax--raw.syntax--inline {
		color: @green;
	}
}
.syntax--source.syntax--gfm .syntax--markup {
	-webkit-font-smoothing: auto;
	&.syntax--heading {
		color: @green;
	}
}
